@font-face {
  font-family: baronNeue;
  src: url(C:/Users/julia/OneDrive/Escritorio/PROVA/Baron_Neue_Bold.otf); }

body {
  background: url(C:/Users/julia/OneDrive/Escritorio/PROVA/imagenes/baner.jpg);
  background-size: 200%; }

section {
  margin-bottom: 30px; }

/** HEADER **/
header {
  background-color: #3B707D;
  margin: auto;
  opacity: 87%;
  margin-bottom: 30px; }
  header #logoMage {
    padding: 7px;
    opacity: 150%; }
  header ul {
    font-family: baronNeue;
    font-size: 18px;
    background-color: #3B707D; }
    header ul .nav-item {
      color: white; }

/** INDEX **/
.textoCarousel {
  word-spacing: 3px;
  opacity: 60%;
  font-size: 25px;
  vertical-align: middle; }

/** GALERIA **/
#animacionGaleria img:hover {
  transform: scale(2, 2);
  position: relative;
  transition: 2s; }

.galeriaDeFotos {
  margin-bottom: 120px; }

/** NOSOTROS **/
.tituloNosotros {
  font-family: baronNeue;
  text-align: center;
  margin-bottom: 30px; }

.textoNosotros {
  text-align: center;
  font-size: 20px;
  word-spacing: 3px; }

/** PRESUPUESTO **/
.margenPresupuesto {
  margin-bottom: 300px; }

/** CONTACTO **/
.tituloForm {
  text-align: center;
  margin-bottom: 30px; }

/** FOOTER **/
footer {
  background-color: #3B707D;
  opacity: 87%;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
  text-align: center;
  font-size: 15px;
  word-spacing: 6px; }
